Repository ail-project/lacus: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, poetry-check, mypy

.pre-commit-config.yaml:

# https://pre-commit.com
default_install_hook_types: [commit-msg, pre-commit]
default_stages: [commit, manual]
fail_fast: true
repos:
  - repo: meta
    hooks:
      - id: check-useless-excludes
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
      - id: python-check-mock-methods
      - id: python-use-type-annotations
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal
      - id: text-unicode-replacement-char
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
        types: [python]
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: name-tests-test
        args: [--pytest-test-first]
      - id: trailing-whitespace
        types: [python]
  - repo: local
    hooks:
      - id: commitizen
        name: commitizen
        entry: cz check
        args: [--commit-msg-file]
        require_serial: true
        language: system
        stages: [commit-msg]
      - id: ruff
        name: ruff
        entry: ruff
        args: ["--extend-fixable=F401,F841", "--fix-only"]
        require_serial: true
        language: system
        types: [python]
      - id: black
        name: black
        entry: black
        require_serial: true
        language: system
        types: [python]
      - id: poetry-check
        name: poetry check
        entry: poetry check
        language: system
        files: pyproject.toml
        pass_filenames: false
      - id: poetry-lock-check
        name: poetry lock check
        entry: poetry lock
        args: [--check]
        language: system
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]

Address review feedback on zombie capture fix
  bin/capture_manager.py
Due: ruff, black, mypy

chg: Bump pydantic models
  poetry.lock
  pyproject.toml
Due: poetry-check

chg: Cleanup dependencies
  mypy.ini
  poetry.lock
  pyproject.toml
Due: poetry-check

chg: Skip package without a wheel
  poetry.lock
  pyproject.toml
Due: poetry-check

chg: Maintenance, dump deps
  poetry.lock
  pyproject.toml
Due: poetry-check

chg: Bump deps
  poetry.lock
  pyproject.toml
Due: poetry-check

chg: Bump version to 1.23-dev
  pyproject.toml
Due: poetry-check

chg: Use Pydantic models
  poetry.lock
  pyproject.toml
  website/web/__init__.py
Due: ruff, black, poetry-check, mypy

chg: Bump version
  pyproject.toml
Due: poetry-check

chg: Bump deps
  poetry.lock
Due: none

chg: Bump models to ease cookies submission
  poetry.lock
Due: none

fix: bump poetry.lock
  poetry.lock
Due: none

docs: warn about disabling systemd xpra
  README.md
Due: none

feat(lacus): add Tactus sidecar and wrapper UI
  bin/start_tactus.py
  bin/tactus_assets/static/LACUS.png
  bin/tactus_assets/static/wrapper.css
  bin/tactus_assets/static/wrapper.js
  bin/tactus_assets/wrapper.html
Due: ruff, black, mypy

feat(lacus): add infrastructure deployment samples
  etc/apache2/lacus.conf.sample
  etc/logrotate.d/lacus.conf
  etc/nginx/lacus.conf.sample
  etc/systemd/system/lacus-tactus.service.sample
  etc/systemd/system/lacus.service.sample
  supervisord/supervisord-tactus.conf.sample
Due: none

fix(types): correct type annotations in tactus proxy and web API
  bin/start_tactus.py
  website/web/__init__.py
Due: ruff, black, mypy

feat(lacus): start tactus from start.py and expose port in Docker
  Dockerfile
  bin/start.py
  docker-compose.yml
Due: ruff, black, mypy

docs: update interactive deps
  README.md
Due: none

feat(lacus, web): expose interactive session API and configuration
  lacus/lacus.py
  website/web/__init__.py
Due: ruff, black, mypy

style: use Lacus font for Tactus
  bin/tactus_assets/static/PaytoneOne-Regular.ttf
  bin/tactus_assets/static/wrapper.css
Due: none

fix: add timeout to xpra & reduce ttl
  README.md
  bin/start_tactus.py
  website/web/__init__.py
Due: ruff, black, mypy

style: add missing newline at end of start_tactus.py
  bin/start_tactus.py
Due: ruff, black, mypy

docs: improve interactive sessions README section
  README.md
Due: none

chg: First batch of refactoring for interactive captures
  README.md
  bin/start.py
  bin/start_tactus.py
  config/generic.json.sample
  lacus/lacus.py
  website/web/__init__.py
Due: ruff, black, mypy

chg: Refactor stoping interactive capture
  website/web/__init__.py
Due: ruff, black, mypy

chg: remove unused env variable
  README.md
Due: none

chg: remove font
  bin/tactus_assets/static/PaytoneOne-Regular.ttf
  bin/tactus_assets/static/wrapper.css
Due: none

chg: rename interactive -> remote headed
  bin/start_tactus.py
  config/generic.json.sample
  lacus/lacus.py
  poetry.lock
  pyproject.toml
  website/web/__init__.py
Due: ruff, black, poetry-check, mypy

chg: move tactus to the web dir
  bin/start_tactus.py
  lacus/lacus.py
  website/web/tactus.py
  website/web/tactus_assets/static/LACUS.png
  website/web/tactus_assets/static/wrapper.css
  website/web/tactus_assets/static/wrapper.js
  website/web/tactus_assets/wrapper.html
Due: ruff, black, mypy
