Repository ail-project/lacus: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, poetry-check, mypy

ruff:
  name: ruff
  entry: ruff
  args:
  - --extend-fixable=F401,F841
  - --fix-only
  require_serial: true
  language: system

black:
  name: black
  entry: black
  require_serial: true
  language: system

poetry-check:
  name: poetry check
  entry: poetry check
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: mypy
  language: system

chg: Bump playwright.
  poetry.lock
  pyproject.toml
Due: poetry-check

chg: Bump deps
  poetry.lock
  pyproject.toml
Due: poetry-check

chg: Bump version
  pyproject.toml
Due: poetry-check

chg: Bump version in dev
  pyproject.toml
Due: poetry-check

chg: Remove/reset CodeQL
  .github/workflows/codeql.yml
Due: none

fix: make codeql happy
  .github/workflows/mypy.yml
  .github/workflows/test_api.yml
Due: none

chg: Bump deps
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  website/web/__init__.py
Due: ruff, black, poetry-check, mypy

chg: Bump deps
  poetry.lock
Due: none

chg: Bump urllib3, mypy.
  poetry.lock
  pyproject.toml
  website/web/__init__.py
Due: ruff, black, poetry-check, mypy

new: Simple script to update WG ProtonVPN config files
  .gitignore
  tools/protonvpn_generate_config.json.sample
  tools/update_protonvpn_config.py
Due: ruff, black, mypy

chg: Bump dev version
  pyproject.toml
Due: poetry-check

chg: Set dev version
  pyproject.toml
Due: poetry-check

new: Keep comments in WG config, improve meta in proxies list
  bin/wireproxy_manager.py
  poetry.lock
  pyproject.toml
Due: ruff, black, poetry-check, mypy

new: Expose Playwright devices
  lacus/lacus.py
  website/web/__init__.py
Due: ruff, black, mypy

chg: Bump version for develop branch
  pyproject.toml
Due: poetry-check

chg: Catch exception when a port is used twice
  bin/wireproxy_manager.py
Due: ruff, black, mypy

hg: Bump deps
  poetry.lock
  pyproject.toml
Due: poetry-check

chg: Bump playwright
  poetry.lock
Due: none

new: Support for final wait (post instrumentation)
  poetry.lock
  pyproject.toml
  website/web/__init__.py
Due: ruff, black, poetry-check, mypy

chg: Bump version to 1.23-dev
  pyproject.toml
Due: poetry-check

chg: Use Pydantic models
  poetry.lock
  pyproject.toml
  website/web/__init__.py
Due: ruff, black, poetry-check, mypy

Clear zombie captures from lacus:ongoing on startup
  bin/capture_manager.py
Due: ruff, black, mypy

Force-clear Redis entry when task cancellation fails
  bin/capture_manager.py
Due: ruff, black, mypy

Path conditions:
  ruff: any of: \.py$
  black: any of: \.py$
  poetry-check: any of: pyproject.toml
  mypy: any of: \.py$
