Repository ail-project/lacus: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, poetry-check, mypy

ruff:
  name: ruff
  entry: ruff
  args:
  - --extend-fixable=F401,F841
  - --fix-only
  require_serial: true
  language: system

black:
  name: black
  entry: black
  require_serial: true
  language: system

poetry-check:
  name: poetry check
  entry: poetry check
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: mypy
  language: system

chg: Bump deps
  poetry.lock
Due: none

chg: Bump deps, version
  poetry.lock
  pyproject.toml
Due: poetry-check

fix: Keep the proxy config on stop (keeps meta info)
  bin/wireproxy_manager.py
  website/web/__init__.py
Due: ruff, black, mypy

fix: Add timer on delete event, in case the file was just modified
  bin/wireproxy_manager.py
Due: ruff, black, mypy

chg: Bump deps
  poetry.lock
  pyproject.toml
Due: poetry-check

chg: Bump playwright
  poetry.lock
  pyproject.toml
Due: poetry-check

Fix ports and container name in compose file
  docker-compose.yml
Due: none

Optimized size of dockerfile
  Dockerfile
Due: none

fix: Typo in API doc
  website/web/__init__.py
Due: ruff, black, mypy

new: Support for init script
  website/web/__init__.py
Due: ruff, black, mypy

fix: Quickly remove lacusCore 1.16.4 due to incompatibility with python <3.12
  poetry.lock
  pyproject.toml
Due: poetry-check

chg: Update documentation
  config/generic.json.sample
Due: none

chg: Bump pre-commit
  .pre-commit-config.yaml
Due: none

chg: bump deps
  poetry.lock
  pyproject.toml
Due: poetry-check

new: Improve support for i2p, check proxies are reachable before returning them
  config/generic.json.sample
  config/proxies.json.sample
  lacus/lacus.py
Due: ruff, black, mypy

fix: doc for i2p proxy in config
  config/generic.json.sample
Due: none

New: Support for Trusted timestamps
  config/generic.json.sample
  lacus/lacus.py
  poetry.lock
  pyproject.toml
  website/web/__init__.py
Due: ruff, black, poetry-check, mypy

new: Support for enabling Trusted Timestamps by default
  config/generic.json.sample
  lacus/lacus.py
  website/web/__init__.py
Due: ruff, black, mypy

ch: Bump deps
  poetry.lock
  pyproject.toml
Due: poetry-check

chg: Use orjson
  bin/wireproxy_manager.py
  lacus/lacus.py
  poetry.lock
  pyproject.toml
  tools/monitoring.py
  tools/validate_config_files.py
Due: ruff, black, poetry-check, mypy

chg: Bump playwright capture
  poetry.lock
Due: none

chg: Bump deps, drop python 3.9
  .github/workflows/mypy.yml
  .github/workflows/test_api.yml
  poetry.lock
  pyproject.toml
Due: poetry-check

chg: Run actions on develop branch
  .github/workflows/codeql.yml
  .github/workflows/mypy.yml
  .github/workflows/test_api.yml
Due: none

chg; Bump deps
  poetry.lock
  pyproject.toml
Due: poetry-check

chg: Bump version to next release
  pyproject.toml
Due: poetry-check

chg: Bump deps, add support for frames
  poetry.lock
  pyproject.toml
Due: poetry-check

Path conditions:
  ruff: any of: \.py$
  black: any of: \.py$
  poetry-check: any of: pyproject.toml
  mypy: any of: \.py$
