Repository ail-project/lacus: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, poetry-check, mypy

.pre-commit-config.yaml:

# https://pre-commit.com
default_install_hook_types: [commit-msg, pre-commit]
default_stages: [commit, manual]
fail_fast: true
repos:
  - repo: meta
    hooks:
      - id: check-useless-excludes
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
      - id: python-check-mock-methods
      - id: python-use-type-annotations
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal
      - id: text-unicode-replacement-char
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
        types: [python]
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: name-tests-test
        args: [--pytest-test-first]
      - id: trailing-whitespace
        types: [python]
  - repo: local
    hooks:
      - id: commitizen
        name: commitizen
        entry: cz check
        args: [--commit-msg-file]
        require_serial: true
        language: system
        stages: [commit-msg]
      - id: ruff
        name: ruff
        entry: ruff
        args: ["--extend-fixable=F401,F841", "--fix-only"]
        require_serial: true
        language: system
        types: [python]
      - id: black
        name: black
        entry: black
        require_serial: true
        language: system
        types: [python]
      - id: poetry-check
        name: poetry check
        entry: poetry check
        language: system
        files: pyproject.toml
        pass_filenames: false
      - id: poetry-lock-check
        name: poetry lock check
        entry: poetry lock
        args: [--check]
        language: system
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]

chg: Bump deps
  poetry.lock
Due: none

ch: Bump deps
  poetry.lock
Due: none

chg: Bump deps
  poetry.lock
  pyproject.toml
Due: poetry-check

chg; Bump deps
  poetry.lock
  pyproject.toml
Due: poetry-check

chg: Reduce logging
  bin/capture_manager.py
Due: ruff, black, mypy

new: Document env variables
  README.md
Due: none

new: Support for valkey
  cache/cache.conf
  cache/run_redis.sh
Due: none

chg: Bump version, playwright
  poetry.lock
  pyproject.toml
Due: poetry-check

new: Use pydantic to validate capture settings
  poetry.lock
  pyproject.toml
  website/web/__init__.py
Due: ruff, black, poetry-check, mypy

fix: Support for python 3.8 and 3.9
  poetry.lock
  pyproject.toml
Due: poetry-check

chg: Add logging on invalid capture settings
  website/web/__init__.py
Due: ruff, black, mypy

chg: Bump deps, support aiohttp 3.10
  poetry.lock
  pyproject.toml
Due: poetry-check

new: controller to list/stop/restart scripts indiviually
  bin/capture_manager.py
  bin/scripts_controller.py
  lacus/default/abstractmanager.py
  poetry.lock
  pyproject.toml
  tools/monitoring.py
Due: ruff, black, poetry-check, mypy

chg: Improve scripts controller
  bin/scripts_controller.py
Due: ruff, black, mypy

chg: Use valkey instead of redis
  README.md
Due: none

chg: Bump playwright, more tracking
  poetry.lock
  pyproject.toml
Due: poetry-check

chg: Bump deps
  README.md
  poetry.lock
Due: none

chg: Bump gunicorn
  bin/start_website.py
  poetry.lock
  pyproject.toml
Due: ruff, black, poetry-check, mypy

chg: Bump playwright
  poetry.lock
  pyproject.toml
Due: poetry-check

chg; Bump deps, version
  poetry.lock
  pyproject.toml
Due: poetry-check
