Repository ail-project/lacus: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, poetry-check, mypy

.pre-commit-config.yaml:

# https://pre-commit.com
default_install_hook_types: [commit-msg, pre-commit]
default_stages: [commit, manual]
fail_fast: true
repos:
  - repo: meta
    hooks:
      - id: check-useless-excludes
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
      - id: python-check-mock-methods
      - id: python-use-type-annotations
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal
      - id: text-unicode-replacement-char
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
        types: [python]
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: name-tests-test
        args: [--pytest-test-first]
      - id: trailing-whitespace
        types: [python]
  - repo: local
    hooks:
      - id: commitizen
        name: commitizen
        entry: cz check
        args: [--commit-msg-file]
        require_serial: true
        language: system
        stages: [commit-msg]
      - id: ruff
        name: ruff
        entry: ruff
        args: ["--extend-fixable=F401,F841", "--fix-only"]
        require_serial: true
        language: system
        types: [python]
      - id: black
        name: black
        entry: black
        require_serial: true
        language: system
        types: [python]
      - id: poetry-check
        name: poetry check
        entry: poetry check
        language: system
        files: pyproject.toml
        pass_filenames: false
      - id: poetry-lock-check
        name: poetry lock check
        entry: poetry lock
        args: [--check]
        language: system
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]

chg: Bump deps
  poetry.lock
  pyproject.toml
Due: poetry-check

chg: Bump playwright
  poetry.lock
  pyproject.toml
Due: poetry-check

new: Expose stats to API
  poetry.lock
  pyproject.toml
  tools/monitoring.py
  website/web/__init__.py
Due: ruff, black, poetry-check, mypy

new: Cancel tasks that should not exist anymore
  bin/capture_manager.py
Due: ruff, black, mypy

chg: Improve handling of canceled captures
  bin/capture_manager.py
  poetry.lock
  pyproject.toml
Due: ruff, black, poetry-check, mypy

chg: timeouts are supposed to trigger on max capture time, give a bit of extra time.
  bin/capture_manager.py
Due: ruff, black, mypy

fix: Properly use logging config in website
  poetry.lock
  pyproject.toml
  website/logs/.keepdir
  website/web/__init__.py
Due: ruff, black, poetry-check, mypy

chg: Use new annotations
  .pre-commit-config.yaml
  bin/capture_manager.py
  bin/run_backend.py
  bin/shutdown.py
  bin/start.py
  bin/start_website.py
  bin/stop.py
  bin/stop_capture_manager.py
  bin/update.py
  lacus/default/__init__.py
  lacus/default/abstractmanager.py
  lacus/default/helpers.py
  lacus/lacus.py
  poetry.lock
  pyproject.toml
  tools/monitoring.py
  tools/validate_config_files.py
  website/web/__init__.py
  website/web/helpers.py
Due: ruff, black, poetry-check, mypy

fix: Add new mypy config
  mypy.ini
  pyproject.toml
Due: poetry-check

chg: Improve monitoring
  lacus/__init__.py
  lacus/lacus.py
  poetry.lock
  pyproject.toml
  tools/monitoring.py
  website/web/__init__.py
Due: ruff, black, poetry-check, mypy

chg: Bump deps
  poetry.lock
  pyproject.toml
  website/web/__init__.py
Due: ruff, black, poetry-check, mypy

chg: Improve busy parameter
  lacus/lacus.py
Due: ruff, black, mypy

chg: Bump version
  poetry.lock
  pyproject.toml
Due: poetry-check

chg: Bump deps
  poetry.lock
Due: none

chg: Bump PlaywrightCapture, remove dependency on libmagic
  poetry.lock
Due: none

fix: Properly handle new allow_tracking feature
  website/web/__init__.py
Due: ruff, black, mypy

chg: Bump deps, version
  poetry.lock
  pyproject.toml
Due: poetry-check

fix: Bump broken PlaywrightCapture
  poetry.lock
  pyproject.toml
Due: poetry-check
