Repository ail-project/lacus: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, poetry-check, mypy

.pre-commit-config.yaml:

# https://pre-commit.com
default_install_hook_types: [commit-msg, pre-commit]
default_stages: [commit, manual]
fail_fast: true
repos:
  - repo: meta
    hooks:
      - id: check-useless-excludes
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
      - id: python-check-mock-methods
      - id: python-use-type-annotations
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal
      - id: text-unicode-replacement-char
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
        types: [python]
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: name-tests-test
        args: [--pytest-test-first]
      - id: trailing-whitespace
        types: [python]
  - repo: local
    hooks:
      - id: commitizen
        name: commitizen
        entry: cz check
        args: [--commit-msg-file]
        require_serial: true
        language: system
        stages: [commit-msg]
      - id: ruff
        name: ruff
        entry: ruff
        args: ["--extend-fixable=F401,F841", "--fix-only"]
        require_serial: true
        language: system
        types: [python]
      - id: black
        name: black
        entry: black
        require_serial: true
        language: system
        types: [python]
      - id: poetry-check
        name: poetry check
        entry: poetry check
        language: system
        files: pyproject.toml
        pass_filenames: false
      - id: poetry-lock-check
        name: poetry lock check
        entry: poetry lock
        args: [--check]
        language: system
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]

fix(pyproject): fix tool.mypy
  poetry.lock
  pyproject.toml
Due: poetry-check

refactor(all-code): code review
  CHANGELOG.md
  README.md
  bin/capture_manager.py
  bin/run_backend.py
  bin/start_website.py
  bin/stop_capture_manager.py
  bin/update.py
  lacus/default/abstractmanager.py
  lacus/default/helpers.py
  lacus/lacus.py
  tools/monitoring.py
  tools/validate_config_files.py
  website/web/__init__.py
  website/web/proxied.py
Due: ruff, black, mypy

refactor(all-code): code review
  .pre-commit-config.yaml
  CHANGELOG.md
  bin/capture_manager.py
  bin/run_backend.py
  bin/shutdown.py
  bin/start.py
  bin/start_website.py
  bin/stop.py
  bin/stop_capture_manager.py
  bin/update.py
  lacus/default/__init__.py
  lacus/default/abstractmanager.py
  lacus/default/exceptions.py
  lacus/default/helpers.py
  lacus/lacus.py
  tools/monitoring.py
  tools/validate_config_files.py
  website/web/__init__.py
  website/web/helpers.py
  website/web/proxied.py
Due: ruff, black, mypy

docs(website/lacus.default): documentation
  .pre-commit-config.yaml
  CHANGELOG.md
  bin/capture_manager.py
  lacus/default/__init__.py
  lacus/default/exceptions.py
  website/web/proxied.py
Due: ruff, black, mypy

docs(website/lacus.default): documentation
  website/web/helpers.py
Due: ruff, black, mypy

refactor(run_backend.py): white documentation
  bin/run_backend.py
Due: ruff, black, mypy

refactor(bin/*): write all documentation/typing
  CHANGELOG.md
  bin/shutdown.py
  bin/start.py
  bin/start_website.py
  bin/stop.py
  bin/stop_capture_manager.py
  bin/update.py
Due: ruff, black, mypy

fix(pyproject.py): fix version import
  poetry.lock
  pyproject.toml
Due: poetry-check

doc(CHANGELOG.MD) add
  CHANGELOG.md
Due: none

feat(code_documentation.yml/docs): add ci/cd for auto building documentation on main
  .github/workflows/code_documentation.yml
  docs/api/abstractmanager.md
  docs/api/exceptions.md
  docs/api/helpers.md
  docs/api/lacus.md
  docs/explanation.md
  docs/how-to-guides.md
  docs/index.md
  docs/reference.md
  docs/tools/monitoring.md
  docs/tools/validate_config_files.md
  docs/tutorials.md
  lacus/default/abstractmanager.py
  lacus/default/helpers.py
  lacus/lacus.py
  mkdocs.yml
  poetry.lock
  pyproject.toml
  tools/__init__.py
  tools/monitoring.py
  tools/validate_config_files.py
Due: ruff, black, poetry-check, mypy

Update README.md
  README.md
Due: none

chg: Bump deps
  poetry.lock
  pyproject.toml
Due: poetry-check

chg: Improve wording.
  README.md
Due: none

Create pull_request_template.md
  .github/pull_request_template.md
Due: none

chg: Bump playwright, gunicorn
  poetry.lock
  pyproject.toml
Due: poetry-check

new: Optional favicon fetching
  poetry.lock
  pyproject.toml
  website/web/__init__.py
Due: ruff, black, poetry-check, mypy

fix: Favicon fetched forever
  poetry.lock
  pyproject.toml
Due: poetry-check

new: Improve responses storage
  bin/capture_manager.py
  poetry.lock
  pyproject.toml
  website/web/__init__.py
Due: ruff, black, poetry-check, mypy

chg: Bump deps, fix result storage
  poetry.lock
  pyproject.toml
Due: poetry-check

chg: Use proper GHA for cloning
  .github/workflows/test_api.yml
Due: none

fix: Reorder GHA
  .github/workflows/test_api.yml
Due: none

fix: Properly clone PyLacus
  .github/workflows/test_api.yml
Due: none

fix: [doc] Minor typo
  README.md
Due: none

chg: Bump deps
  poetry.lock
Due: none

chg: bump deps
  poetry.lock
  pyproject.toml
Due: poetry-check

chg: Bump version, deps
  poetry.lock
  pyproject.toml
Due: poetry-check

chg: Bump deps, enable python 3.12
  .github/workflows/mypy.yml
  .github/workflows/test_api.yml
  poetry.lock
  pyproject.toml
Due: poetry-check

chg: Bump deps (flask-restx)
  poetry.lock
  pyproject.toml
Due: poetry-check

fix: Initialize the config file with indent
  tools/validate_config_files.py
Due: ruff, black, mypy

chg: Bump deps, add playwright-stealth.
  poetry.lock
  pyproject.toml
Due: poetry-check

chg: [doc] Added doc to remove stuck uuid from the queue
  README.md
Due: none

chg: [doc] Minor typo fixes
  .github/pull_request_template.md
Due: none
