Repository ail-project/lacus: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, poetry-check, mypy

ruff:
  name: ruff
  entry: ruff
  args:
  - --extend-fixable=F401,F841
  - --fix-only
  require_serial: true
  language: system

black:
  name: black
  entry: black
  require_serial: true
  language: system

poetry-check:
  name: poetry check
  entry: poetry check
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: mypy
  language: system

chg: Bump deps
  poetry.lock
  pyproject.toml
Due: poetry-check

chg: Bump playwrightcapture
  poetry.lock
  pyproject.toml
Due: poetry-check

chg: Bump deps
  poetry.lock
Due: none

chg: Update readme to get xpra working on ubuntu 26.04.
  README.md
Due: none

chg: Bump version
  pyproject.toml
Due: poetry-check

chg: Bump playwright
  poetry.lock
  pyproject.toml
Due: poetry-check

chg: Bump deps, support console messages
  poetry.lock
  pyproject.toml
Due: poetry-check

fix: Raise exception if global proxy config is incorrect.
  lacus/lacus.py
Due: ruff, black, mypy

new: Callback button if provided
  website/web/tactus.py
  website/web/tactus_assets/wrapper.html
Due: ruff, black, mypy

ch: Bump deps
  poetry.lock
  pyproject.toml
Due: poetry-check

chg: Make mypy happy
  lacus/lacus.py
  website/web/tactus.py
Due: ruff, black, mypy

chg: Bump deps, simplify PlaywrightCapture
  poetry.lock
  pyproject.toml
Due: poetry-check

chg: Bump models, fix loading storage
  poetry.lock
  pyproject.toml
Due: poetry-check

new: Support for video capture.
  poetry.lock
  pyproject.toml
  website/web/__init__.py
Due: ruff, black, poetry-check, mypy

chg: Bump deps, fix python <3.12 support
  poetry.lock
  pyproject.toml
Due: poetry-check

chg: improve validation in tactus
  bin/start_tactus.py
  website/web/tactus.py
Due: ruff, black, mypy

fix: disable only access log in aiohttp
  bin/start_tactus.py
Due: ruff, black, mypy

fix: Runtime error/warning when using OPFS in non-secure contexts.
  poetry.lock
  pyproject.toml
Due: poetry-check

Path conditions:
  ruff: any of: \.py$
  black: any of: \.py$
  poetry-check: any of: pyproject.toml
  mypy: any of: \.py$
