Repository ail-project/lacus: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, poetry-check, mypy

ruff:
  name: ruff
  entry: ruff
  args:
  - --extend-fixable=F401,F841
  - --fix-only
  require_serial: true
  language: system

black:
  name: black
  entry: black
  require_serial: true
  language: system

poetry-check:
  name: poetry check
  entry: poetry check
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: mypy
  language: system

new: Ansible installation playbook
  ansible/inventory.ini
  ansible/playbook_install.yaml
Due: none

chg: Bump deps
  poetry.lock
Due: none

chg: Improve GHA
  .github/workflows/test_api.yml
Due: none

chg: Bump deps
  ansible/inventory.ini
  ansible/playbook_install.yaml
  poetry.lock
  pyproject.toml
Due: poetry-check

new: Support for storage state
  website/web/__init__.py
Due: ruff, black, mypy

chg: Quick and dirty patch to avoid people updating on python <3.12
  bin/update.py
Due: ruff, black, mypy

chg: Bump deps
  poetry.lock
  pyproject.toml
Due: poetry-check

fix: Properly use TypedDict
  bin/update.py
  poetry.lock
  pyproject.toml
Due: ruff, black, poetry-check, mypy

chg; Bump LacusCore for python < 3.12
  poetry.lock
  pyproject.toml
Due: poetry-check

feat: make screenshot capturing optional with parameter
  website/web/__init__.py
Due: ruff, black, mypy

dockerfile and docker-compose
  .gitignore
  Dockerfile
  README.md
  config/docker.generic.json.sample
  config/torrc
  docker-compose.yml
Due: none

replace redis with valkey
  docker-compose.yml
Due: none

fix: key name when pydandic validation fails
  website/web/__init__.py
Due: ruff, black, mypy

chg: Bump version
  pyproject.toml
Due: poetry-check

new: Pre-configure proxies, expose them in the API
  lacus/lacus.py
  poetry.lock
  pyproject.toml
  website/web/__init__.py
Due: ruff, black, poetry-check, mypy

new: Sample pre-configured proxy
  config/proxies.json.sample
Due: none

fix: Exception when passing a full proxy
  lacus/lacus.py
Due: ruff, black, mypy

new: WireProxies manager
  .gitignore
  bin/wireproxy_manager.py
  config/generic.json.sample
  lacus/lacus.py
  poetry.lock
  pyproject.toml
Due: ruff, black, poetry-check, mypy

fix: remove dependency on requests
  bin/wireproxy_manager.py
Due: ruff, black, mypy

chg: refactor and cleanup
  bin/wireproxy_manager.py
Due: ruff, black, mypy

chg: Only re-read the proxies file if it changed.
  lacus/lacus.py
Due: ruff, black, mypy

fix: Set timeout for port check in wireproxy manager
  bin/wireproxy_manager.py
Due: ruff, black, mypy

fix: Set timeout for healthcheck
  bin/wireproxy_manager.py
Due: ruff, black, mypy

fix: Avoid wireproxies stuck un a bad state.
  bin/wireproxy_manager.py
Due: ruff, black, mypy

fix: More exception handling and improving restart
  bin/wireproxy_manager.py
Due: ruff, black, mypy

new: Add wireproxy_manager in autostart
  bin/start.py
Due: ruff, black, mypy

chg: Bump deps, prepare release
  poetry.lock
  pyproject.toml
Due: poetry-check

chg: Use new safer LacusCore
  bin/capture_manager.py
  poetry.lock
  pyproject.toml
Due: ruff, black, poetry-check, mypy

chg: Bump deps, version.
  poetry.lock
  pyproject.toml
Due: poetry-check

chg: Bump lacuscore to support re-captures of failed captures
  poetry.lock
  pyproject.toml
Due: poetry-check

Recreate Docker files
  Dockerfile
  docker-compose.yml
  entrypoint.sh
  supervisord/supervisord.conf
Due: none

Path conditions:
  ruff: any of: \.py$
  black: any of: \.py$
  poetry-check: any of: pyproject.toml
  mypy: any of: \.py$
