Repository ail-project/lacus: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, poetry-check, mypy

.pre-commit-config.yaml:

# https://pre-commit.com
default_install_hook_types: [commit-msg, pre-commit]
default_stages: [commit, manual]
fail_fast: true
repos:
  - repo: meta
    hooks:
      - id: check-useless-excludes
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
      - id: python-check-mock-methods
      - id: python-use-type-annotations
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal
      - id: text-unicode-replacement-char
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
        types: [python]
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: name-tests-test
        args: [--pytest-test-first]
      - id: trailing-whitespace
        types: [python]
  - repo: local
    hooks:
      - id: commitizen
        name: commitizen
        entry: cz check
        args: [--commit-msg-file]
        require_serial: true
        language: system
        stages: [commit-msg]
      - id: ruff
        name: ruff
        entry: ruff
        args: ["--extend-fixable=F401,F841", "--fix-only"]
        require_serial: true
        language: system
        types: [python]
      - id: black
        name: black
        entry: black
        require_serial: true
        language: system
        types: [python]
      - id: poetry-check
        name: poetry check
        entry: poetry check
        language: system
        files: pyproject.toml
        pass_filenames: false
      - id: poetry-lock-check
        name: poetry lock check
        entry: poetry lock
        args: [--check]
        language: system
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]

chg: Bump actions
  .github/dependabot.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/codeql.yml
  poetry.lock
Due: none

chg: Bump deps
  poetry.lock
Due: none

chg: Bump deps
  poetry.lock
  pyproject.toml
Due: poetry-check

new: Optionally disable JS in capture.
  poetry.lock
  pyproject.toml
  website/web/__init__.py
Due: ruff, black, poetry-check, mypy

chg: Bump version
  pyproject.toml
Due: poetry-check

chg: Bump playwright, add tests on python 3.13
  .github/workflows/mypy.yml
  .github/workflows/test_api.yml
  poetry.lock
  pyproject.toml
Due: poetry-check

fix: Properly pick valkey branch.
  .github/workflows/test_api.yml
Due: none

chg: Bump mypy
  poetry.lock
  pyproject.toml
Due: poetry-check

chg: Bump deps, allow python 3.9+ only libs
  poetry.lock
  pyproject.toml
Due: poetry-check

chg: Improve readme
  README.md
Due: none

new: expose max_retries feature to individual captures
  website/web/__init__.py
Due: ruff, black, mypy

new: Expose max retries settings in the config file
  config/generic.json.sample
  lacus/lacus.py
Due: ruff, black, mypy

chg: Drop python 3.8 support
  .github/workflows/mypy.yml
  .github/workflows/test_api.yml
  .pre-commit-config.yaml
  bin/capture_manager.py
  bin/run_backend.py
  lacus/lacus.py
  poetry.lock
  pyproject.toml
  website/web/__init__.py
  website/web/proxied.py
Due: ruff, black, poetry-check, mypy

chg: make the killtime for a stuck capture 10% more than the max time
  bin/capture_manager.py
Due: ruff, black, mypy

chg: Use valkey 8.0 in the install guide.
  README.md
Due: none

chg: Add missing deps in install guide.
  README.md
Due: none

new: expose expire_results in the config, allowing to remove results from DB faster
  config/generic.json.sample
  lacus/lacus.py
  poetry.lock
  pyproject.toml
Due: ruff, black, poetry-check, mypy

fix: Add config doc for expire_results
  config/generic.json.sample
Due: none

chg: Cancel a capture running for too long multiple times if needed
  bin/capture_manager.py
Due: ruff, black, mypy

chg: Bump playwright
  poetry.lock
  pyproject.toml
Due: poetry-check

new: Logos
  logos/1_horizontal/jpg/LACUS_horizontal-color.jpg
  logos/1_horizontal/png/LACUS_horizontal-color-white.png
  logos/1_horizontal/png/LACUS_horizontal-color.png
  logos/1_horizontal/svg/lacus-logo_horizontal-color-white.svg
  logos/1_horizontal/svg/lacus-logo_horizontal-color.svg
  logos/2_vertical/jpg/LACUS_vertical-color.jpg
  logos/2_vertical/png/LACUS_vertical-color-white.png
  logos/2_vertical/png/LACUS_vertical-color.png
  logos/2_vertical/svg/lacus-logo_vertical-color-white.svg
  logos/2_vertical/svg/lacus-logo_vertical-color.svg
  logos/3_icon/LACUS_icon.jpg
  logos/3_icon/LACUS_icon.png
  logos/3_icon/lacus-logo_icon.svg
  logos/4_font/PaytoneOne-Regular.ttf
  logos/5_fichier-source/lacus.ai
Due: none

Update README.md
  README.md
Due: none

new: Add favicon
  website/web/__init__.py
  website/web/static/favicon.ico
Due: ruff, black, mypy

fix: Make mypy happy
  website/web/__init__.py
Due: ruff, black, mypy

chg: Bump deps, use poetry 2.0
  poetry.lock
  pyproject.toml
Due: poetry-check

new: Possible to trigger a capture with a headed browser
  config/generic.json.sample
  lacus/lacus.py
  poetry.lock
  pyproject.toml
  website/web/__init__.py
Due: ruff, black, poetry-check, mypy

chg: Bump deps, version
  poetry.lock
  pyproject.toml
Due: poetry-check

fix: Make sure update --init doesn't need interactions
  bin/update.py
Due: ruff, black, mypy
