Repository ail-project/lacus: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, poetry-check, mypy

ruff:
  name: ruff
  entry: ruff
  args:
  - --extend-fixable=F401,F841
  - --fix-only
  require_serial: true
  language: system

black:
  name: black
  entry: black
  require_serial: true
  language: system

poetry-check:
  name: poetry check
  entry: poetry check
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: mypy
  language: system

chg: Use proper template for interactive session
  poetry.lock
  pyproject.toml
  website/web/tactus.py
  website/web/tactus_assets/wrapper.html
Due: ruff, black, poetry-check, mypy

chg: Add comments, details what does what
  website/web/__init__.py
  website/web/tactus.py
Due: ruff, black, mypy

chg: Update readme
  Dockerfile
  README.md
Due: none

new: Expose settings
  lacus/lacus.py
  website/web/__init__.py
Due: ruff, black, mypy

chg: Bump deps
  poetry.lock
  pyproject.toml
Due: poetry-check

chg: Improve readme for release
  README.md
Due: none

chg: Bump version
  pyproject.toml
Due: poetry-check

chg: Bump version to dev
  pyproject.toml
Due: poetry-check

fix: Exception when tactus is disabled
  bin/start_tactus.py
Due: ruff, black, mypy

chg: Bump deps
  bin/capture_manager.py
  poetry.lock
  pyproject.toml
Due: ruff, black, poetry-check, mypy

chg: escape uuid before redirect
  website/web/tactus.py
Due: ruff, black, mypy

chg: properly escape uuid before redirect
  website/web/tactus.py
Due: ruff, black, mypy

chg: bump models, fix headers in settings
  poetry.lock
  pyproject.toml
Due: poetry-check

chg: Set version to 1.25 dev
  pyproject.toml
Due: poetry-check

chg: Bump playwrightcapture
  poetry.lock
  pyproject.toml
Due: poetry-check

fix: Properly expose assets when using a reverse proxy
  etc/apache2/lacus.conf.sample
  etc/nginx/lacus.conf.sample
Due: none

chg: Bump playwright
  poetry.lock
  pyproject.toml
Due: poetry-check

chg; Bump deps
  poetry.lock
  pyproject.toml
Due: poetry-check

fix: Bump pure-magic-rs, fix panic
  poetry.lock
Due: none

chg: Add warnings if playwright is not properly installed
  bin/update.py
Due: ruff, black, mypy

chg: Bump deps
  poetry.lock
Due: none

chg: Print warning when tactus cannot start
  bin/start_tactus.py
Due: ruff, black, mypy

chg: Validate UUIDs in URLs
  website/web/__init__.py
Due: ruff, black, mypy

chg: Update readme to get xpra working on ubuntu 26.04.
  README.md
Due: none

Path conditions:
  ruff: any of: \.py$
  black: any of: \.py$
  poetry-check: any of: pyproject.toml
  mypy: any of: \.py$
